<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <typeAliases>
  
  <typeAlias type="com.somoim.board.notice.NoticeDTO" alias="NoticeDTO"/>
  <typeAlias type="com.somoim.board.qna.QnaDTO" alias="QnaDTO"/>
  <typeAlias type="com.somoim.board.BoardDTO" alias="BoardDTO"/>
  
  </typeAliases>
  </configuration>