<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.somoim.app.adminPage.AdminPageDAO">
  
  
  
<resultMap type="MemberDTO" id="memberlist">
  		<id column="USERNAME" property="userName"/>
  		<result column="PASSWORD" property="password"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="NAME" property="name"/>
  		<result column="USERBIRTH" property="userBirth"/>
  		<result column="ADDRESS" property="address"/>
 		<result column="PHONE" property="phone"/>
  		<result column="EMAIL" property="email"/>
  		<result column="LOGINNUM" property="loginNum"/>
		<collection property="roleDTO" javaType="MemberRoleDTO">
  		 		<result column="ROLENUM" property="roleNum"/>
  		 		<result column="USERNAME" property="userName"/>
		</collection>
 </resultMap> 
<!--  <resultMap type="AdminPageDTO" id="moimPlace">
 <id column="PLACENUM" property="placeNUM"/>
 <result column="USERNAME" property="userName"/>
<result column="PLACETITLE" property="placeTitle"/>
<result column="PLACEADDRESS" property="placeAddress"/>
<result column="PLACELINK" property="placeLink"/>
 </resultMap> -->
  
  
 <!-- 모임 list -->
<select id="list" parameterType="MemberDTO" resultMap="memberlist">
  SELECT * FROM
      (SELECT ROWNUM R, N.* FROM	
      		(
      			SELECT * FROM MEMBER LEFT JOIN MEMBERROLE using(username)
      			ORDER BY rolenum asc
      		)
      N)
      WHERE R BETWEEN #{startRow} AND #{lastRow}
</select> 

<!-- getTotal -->
	<select id="getTotalCount" resultType="Long">
	SELECT COUNT(USERNAME) FROM MEMBER
	</select>


  
  
  <!-- 유저List -->
  <!-- <select id="list" parameterType="MemberDTO" resultMap="memberlist">
  SELECT * FROM MEMBER LEFT JOIN MEMBERROLE using(username)
  </select> -->
  

  
  
  </mapper>