<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.somoim.app.board.qna.ReplyDAO">
  <resultMap type="BoardreplyDTO" id="getDetailResult">
  <id column="BOARDREPLYNUM" property="boardReplyNum"/>
  <result column="USERNAME" property="userName"/>
  <result column="BOARDNUM" property="boardNum"/>
  <result column="BOARDREPLYTEXT" property="boardReplyText"/>
  <result column="BOARDREPLYDATE" property="boardReplyDate"/>
  
  </resultMap>
  
  	<delete id="setDelete" parameterType="BoardReplyDTO">
  		DELETE BOARDREPLY WHERE BOARDREPLYNUM=#{boardReplyNum}
  	</delete>
  
  	<insert id="setReply" parameterType="BoardReplyDTO">
  		INSERT INTO BOARDREPLY 
  		VALUES (board_Reply_SEQ.NEXTVAL, #{userName}, #{boardNum}, #{boardReplyText}, sysdate)
  	</insert>
  	
  	<select id="getTotalCount" parameterType="BoardReplyDTO" resultType="Long">
  		SELECT COUNT(BOARDREPLYNUM) FROM BOARDREPLY
  		WHERE boardNum=#{boardNum}
  	</select>
  	
  	<select id="getList" parameterType="Map" resultType="BoardReplyDTO">
  		SELECT * FROM
  		(SELECT ROWNUM RN, R.* FROM
  		(SELECT * FROM BOARDREPLY
  		WHERE boardNum=#{replyDTO.boardNum}
  		ORDER BY BOARDREPLYNUM DESC) R)
  		WHERE RN BETWEEN #{pager.startRow} AND #{pager.lastRow}
  	</select>
  
  <update id="setUpdate" parameterType="BoardReplyDTO">
  UPDATE BOARDREPLY set boardReplyText=#{boardReplyText} where boardReplyNum=${boardReplyNum}
  </update>
  
  

  </mapper>